*{
    text-decoration: none;
    margin:0 0 0 0;
    padding:0 0 0 0;
}

.poem1{
   
    position: absolute;
    top:55vh;
    left:-3vw;  
}
.poem1:hover .light1{
    display:block;
}
.poem2{
    
    position: absolute;
    top:55vh;
    left:27.5vw;
}
.poem2:hover .light2{
    display:block;
}
.poem3{
    
    position: absolute;
    top:55vh;
    left:58vw;
}
.poem3:hover .light3{
    display:block;
}
.light1{
    display:none;
    width:5vw;
    height:10vh;
    position: absolute;
    margin-top: -175vh;
    margin-left:5vw;
    z-index: 5;
    border-bottom: 70vw solid rgb(242, 242, 94);
    border-left: 15vw solid transparent;
    border-right:15vw solid transparent;
    height: 80vh;
    width: 10vw;
    opacity: 80%;
}

.light2{
    display:none;
    width:5vw;
    height:10vh;
    position: absolute;
    margin-top: -10vh;
    z-index: 5;
    display:none;
    width:5vw;
    height:10vh;
    position: absolute;
    margin-top: -175vh;
    margin-left:5vw;
    z-index: 5;
    border-bottom: 70vw solid rgb(237, 96, 86);
    border-left: 15vw solid transparent;
    border-right: 15vw solid transparent;
    height: 80vh;
    width: 10vw;
    opacity: 75%;
}
.light3{
    display:none;
    width:5vw;
    height:10vh;
    position: absolute;
    margin-top: -5vh;
    margin-left:15vw;
    z-index: 5;
    display:none;
    width:3vw;
    height:10vh;
    position: absolute;
    margin-top: -175vh;
    margin-left:5vw;
    z-index: 5;
    border-bottom: 70vw solid rgb(55, 67, 235);
    border-left: 15vw solid transparent;
    border-right: 15vw solid transparent;
    height: 80vh;
    width: 10vw;
    opacity: 73%;
}
body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    }
    @media screen and (max-width: 600px){

    body{
        background-image: url(bgvid.gif);
        overflow: scroll;
    }
        .poem1{
            
            position: absolute;
            top:5vh;
            left:-2vw;
        }
        .poem2{
            
            position:absolute;
            top:45vh;
            left:-2vw;
        }
        .poem3{
        
            position:absolute;
            top:85vh;
            left:-2vw;
        }
        .poem3:hover .light3{
            display:none;
        }
        .poem2:hover .light2{
            display:none;
        }
        .poem1:hover .light1{
            display:none;
        }
        .bg{
            display:none;
        }
    }